*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91f1de;
    background-image: linear-gradient(0deg, #91f1de 0%, #e0f1f1 100%);

}

.card{
    width: 400px;
    height: 570px;
    background-color: #eefcfa;
    /* padding: 0px 15px 15px 15px; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
}
.card img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* .card p{
    width: 78%;
    position: relative;
    left: 10px;
} */

.textBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 70%;
    text-align: center;
}

.amount-Box{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #def3ef;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.left{
    display: flex;
    /* width: 150px;
    height: 100%; */
    width: fit-content;
    /* justify-content: center;*/
    align-items: center;
    gap: 12px;

}

.left img{
    /* margin-left: 7px; */
    background-color: #def3ef;
    
}

.right{
    padding: 15px;
}
.annual-plan{
    display: flex;
    flex-direction: column;
    width: 100px;
}
    
.p1{
    /* height: 25px; */
    /* width: 20px; */

}

.annual-plan p{
    font-size: 0.9rem;
    font-weight: 500;
}

.amount-Box img{
    width: 40px;
    height: 40px;

}

#cancel{
    color: black;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-weight: 500;
}

#payment-button{
    width: 80%;
    height: 9%;
    border-radius: 15px;
    background-color: #0a1136;
    background-image: linear-gradient(0deg, #0a1136 0%, #134676 100%);

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);


    color: white;
}